body {
    font-family: 'Times New Roman', Georgia, Arial, Helvetica, sans-serif;
    font-size: 115%;
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0px;
    background: hsl(0,0%,20%);
    color: hsl(0,0%,80%);
    text-decoration: none;
    margin: 5px;
    padding: 5px;
}

.skip-link:focus {
  top: 0;
}

main {
    margin-left: 20px;
    margin-right: 20px;
}
h1 {
    text-align: center;
}

nav ul {
    list-style-type: none;
    background-color: hsl(0,0%,25%);
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    display: block;
}

nav a:hover {
    background-color: hsl(0,0%,10%);
}

nav li {
    margin: 0;
}

li {
    margin-bottom: 12px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px;
    margin:5px;
    gap: 1.5rem;
}

.picture {
    display:inline-block;
    border: 1px solid hsl(0,0%,60%);
    width: 20%;
}

.picture img {
    width: 100%;
    height: auto;
    display: block;
}

.picture .description {
    padding: 10px;
    text-align: center;
}

.picture:hover {
    border: 1px solid hsl(0,0%,20%)
}

.box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    align-items: center;
    background-color: aliceblue;
}

.left {
    padding: 5px;
    text-align: left;
}

.right {
    padding: 5px;
    text-align: left;
}

.box ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
